body{
  background-color: #003;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form{
  background-color: #008;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
form input{
  background-color: #0019;
  outline: none;
  border: none;
  color: #FFFFFF;
  padding: 10px 15px;
  width: 300px;
  flex-grow: 1;
}
form button{
  background-color: #3D427B;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 15px;
  flex-grow: 1;
}